{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-console": 2,
    "no-warning-comments": [
      "error",
      {
        "terms": ["todo"]
      }
    ]
  },

  "extends": [
    "eslint:recommended",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["import"]
}
